<div class="treecontainer">
    <table>
        <tr>
            <td rowspan="4">
                <div class="aligncontent" (click)="openModal()">frogstand
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>babyfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>sidebaby
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent"><span class="stateline-v"></span><span class="dotline"></span>airbaby</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>gorillafreeze<span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="dotline"></span>gorilla</div>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span><span class="dotline"></span>spider</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td rowspan="5">
                <div class="aligncontent">headstand
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>headspin tap
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>headspin glide
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>headspin variations
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent"><span class="stateline-v"></span><span class="dotline"></span>headinvert</div>
            </td>
            <td  class="red">
                <div class="aligncontent"><span class="stateline-v"></span><span class="dotline"></span>1 shot drill</div>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div class="aligncontent hasbottomcorner"><span class="topcorner"></span><span class="bottomcorner"></span><span class="dotline"></span>headhollow</div>
            </td>
            <td><div class="aligncontent h-full">
                <span class="stateline-v"></span>
                </div></td>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="topcorner"></span><span class="dotline"></span>halo variations</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
               
            </td>
            <td><div class="aligncontent h-full">
                <span class="stateline-v"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="dotline"></span>double halo</div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                    </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                    </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span><span class="dotline"></span>1arm halo</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="3">
                <div class="aligncontent">headbridge
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent h-full">
                        <span class="stateline-v"></span>
                    <span class="dotline"></span>headswipe
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner fullline">
                    <span class="bottomcorner"></span>
                    <span class="dotline"></span>halo <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>shoulder halo <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent ">
                    <span class="dotline"></span>1 Arm Shoulder Halo
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span><span class="dotline"></span>Halo Freeze

                </div>
            </td>
            <td>

            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>Shoulder Halo Hops
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>

            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>Shoulder Halo Variations
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="4">
                <div class="aligncontent">Groundfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>Shoulderfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>Shoulderbaby <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent  h-full">
                        <span class="stateline-v"></span>
                    <span class="dotline"></span>Shoulderspin
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>Boomerangfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Boomerang
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>Sniperfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Sniperspin
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>V-Kick
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner fullline">
                    <span class="topcorner"></span>
                    <span class="dotline"></span>Flare
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner fullline h-full">
                        <span class="stateline-v"></span>
                        <span class="topcorner left-4"></span>
                    <span class="dotline"></span>Chairflare
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Chairflare Variations
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="6">
                <div class="aligncontent">Handstand
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>Planche
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>virgin flare
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner fullline h-full">
                        <span class="stateline-v "></span>
                    <span class="bottomcorner left-18"></span>
                    <span class="dotline"></span>flare variations
                </div>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>1 Arm Airfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>flag/hangfreeze
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                    <span class="stateline-v "></span>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>Eclipse
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner fullline">
                    <span class="bottomcorner"></span>
                    <span class="dotline"></span>1990/2000
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent  hasbottomcorner fullline h-full">
                    <span class="topcorner"></span>
                    <span class="bottomcorner"></span>
                    <!-- <span class="stateline-v"></span> -->
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Airflare
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>1 Arm Airflare
                </div>
            </td>
        </tr>

        <tr>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>bodyswipe
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Swipe
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Masterswipe
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>1.5 Airflare
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>invert
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Doubleswipe
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>Airflare Variations
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="topcorner"></span>
                    <span class="dotline"></span>hollowback
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4" ></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner h-full"><span class="bottomcorner"></span>
                    <span class="dotline"></span>swipe variations
                    <span class="stateline-v left-4"></span>
                </div>
            </td>
            <td> </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="aligncontent hasbottomcorner">Bridge
                    <span class="stateline"></span>
                   
                    <span class="bottomrightcorner"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="5">
                <div class="aligncontent">Elbowfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>Scorpion
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Elbowhollow
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>Elbow Babyfreeze
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner  h-full">
                    <span class="stateline-v left-4"></span>
                    <span class="bottomcorner"></span>
                    <span class="dotline"></span>Hurricanes
                </div>
            </td>
            <td> <div class="aligncontent h-full">
                <span class="stateline-v left-4"></span>
            </div></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>1 Arm Elbowfreeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>elbowtip Freeze
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner h-full">
                    <span class="topcorner"></span>
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>1 Arm Elbow Airflare
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>Elbow Airchair
                </div>
            </td>
            <td class="red">
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Elbow Airflare

                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>1.5 Elbow Airflare
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner h-full" >
                    <span class="stateline-v left-4"></span><span class="bottomcorner"></span>
                    <span class="dotline"></span>Elbowspin
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner h-full"><span class="bottomcorner"></span>
                    <span class="dotline"></span>Elbow Airflare variations
                    <span class="stateline-v left-4"></span>
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td rowspan="7">
                <div class="aligncontent">Turtle/Crab Freeze
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent">
                    <span class="dotline"></span>Chair
                    <span class="stateline"></span>
                </div>
            </td>
            <td>
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Airchair
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent h-full">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Airchairspin
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>Crab Dance
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v left-4"></span>
                    <span class="dotline"></span>Turtle
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Deadman Turtle
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent">
                    <span class="stateline-v"></span>
                    <span class="dotline"></span>Ninja
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner fullline">
                    <span class="bottomcorner left-4"></span>
                    <span class="dotline"></span>Critical
                </div>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>UFO
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>headspin
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>cricket
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Jackhammer
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="topcorner"></span>
                    <span class="dotline"></span>Windmill
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>mummy
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Doublspin
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                
            </td>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>nutcracker
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Handcuff
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent h-full">
                    <span class="stateline-v"></span>
                    </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>Barrel
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Tombstone
                </div>
            </td>
            <td></td>
        </tr>


        <tr>
            <td class="red" rowspan="4">
                <div class="aligncontent">Backspin
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent h-full">
                        <span class="stateline-v"></span>
                    <span class="dotline"></span>Bodyglide
                </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>Babymill
                    <span class="stateline"></span>
                </div>
            </td>
            <td class="red">
                <div class="aligncontent">
                    <span class="dotline"></span>Australian
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>Bellymill
                </div>
            </td>
            <td class="red">
                <div class="aligncontent"><span class="stateline-v"></span>
                    <span class="dotline"></span>Coin Drop
                </div>
            </td>
            <td>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
            </td>
            <td class="red">
                <div class="aligncontent hasbottomcorner"><span class="bottomcorner"></span>
                    <span class="dotline"></span>Windmill Variations
                </div>
            </td>
            <td>
            </td>
            <td></td>
        </tr>
    </table>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Hi there!</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <img src="https://images.pexels.com/photos/8660213/pexels-photo-8660213.jpeg" class="w-100" alt=""/>
            <iframe class="w-100" height="315" src="https://www.youtube.com/embed/Vy6LKYUjaP4?si=K8cxUy4oscvf1jpX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quidem ipsam! Fugit maiores at accusantium dolorem. Omnis repellat reprehenderit, facere dolores sequi saepe harum, nobis cumque voluptas perferendis ab est.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"(click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>